/* GENERAL */

*
{
  margin: 0;
  padding: 0;
}

h2
{
  font-family: 'Cinzel', serif;
  font-size: 45px;
  text-align: center;
  position: relative;
}

p
{
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
  position: relative;
}

ul
{
  list-style: none;
}

.wrapper
{
  height: 500px;
  width: auto;
  padding: 60px 0;
  margin: 0 auto;
}

/* MAIN */

#main
{
  height: 500px;
  width: 100%;
  background: url('images/cover.jpg') repeat-x;
  repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#main .wrapper
{
  height: auto;
  width: 100%;
}

h1
{
  font-family: 'Cinzel', serif;
  font-size: 130px;
  color: white;
  text-align: center;
  text-shadow: -1px -1px 0 black,
              1px -1px 0 black,
              -1px 1px 0 black,
              1px 1px 0 black;
  position: relative;
  top: 20%;
}

.title
{
  font-family: 'Cormorant Garamond', serif;
  font-size: 100px;
  text-align: center;
}

/* PROJETS */

#projets
{
  text-align: center;
}

#projets .wrapper
{
  width: 100%;
  height: auto;
}

article
{
  width: 500px;
  height: 300px;
  border-radius: 10px;
  margin-top: 40px;
  margin-right: 20px;
  display: inline-block;
}

.projet-1
{
  background: url('images/code.jpg') repeat-x;
  background-position: center;
  background-size: cover;
}

.projet-2
{
  background: url('images/code.jpg') repeat-x;
  background-position: center;
  background-size: cover;
}

.overlay
{
  background: rgba(255,255,255,0.95);
  height: 100%;
  width: 190px;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  text-align: center;
  box-sizing: border-box;
}

.button
{
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5vw;
  text-align: center;
  color: #85C17E;
  text-decoration: none;
  padding: 6px 6px;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
}

.button:hover
{
  color: white;
  background-color: #85C17E;
}

h4
{
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#projets h2
{
  margin-bottom: 60px;
}

#projets p
{
  text-align: center;
  margin-bottom: 20px;
}

/* EXPÉRIENCES PROFESSIONNELLES */

#expro
{
  background-color: #efefef;
  width: 100%;
  height: auto;
}

#expro .wrapper
{
  width: 100%;
  height: auto;
}

#expro ul
{
  margin-top: 90px;
  position: relative;
  text-align: center;
}

#expro ul li
{
  height: 100%;
  width: auto;
  margin-right: 80px;
  display: inline-block;
}

#expro h2
{
  padding-top: 20px;
  text-align: center;
}

#expro h4
{
  padding-top: 170px;
}

#exp-1
{
  background: url('images/html5.svg') no-repeat top center;
  background-size: 150px;
}

#exp-2
{
  background: url('images/html5.svg') no-repeat top center;
  background-size: 150px;
}

#exp-3
{
  background: url('images/html5.svg') no-repeat top center;
  background-size: 150px;
}

/* FORMATION */

#form
{
  width: 100%;
  height: auto;
}

#form .wrapper
{
  width: 100%;
  height: auto;
}

#form ul
{
  margin-top: 90px;
  position: relative;
  text-align: center;
}

#form ul li
{
  height: 100%;
  width: auto;
  margin-right: 80px;
  display: inline-block;
}

#form h2
{
  padding-top: 20px;
  text-align: center;
}

#form h4
{
  padding-top: 170px;
}

#educ-1
{
  background: url('images/graduation.png') no-repeat top center;
  background-size: 150px;
}

#educ-2
{
  background: url('images/graduation.png') no-repeat top center;
  background-size: 150px;
}

#educ-3
{
  background: url('images/graduation.png') no-repeat top center;
  background-size: 150px;
}

/* CONTACT */

#contact
{
  width: 100%;
  height: auto;
  background-color: #efefef;
}

#contact h2
{
  padding-top: 20px;
  text-align: center;
}

#contact ul
{
  margin-top: 30px;
  position: relative;
  text-align: center;
}

#contact ul li
{
  display: inline-block;
}

.fa
{
  width: auto;
  height: auto;
  margin: 20px 0;
}

.fa-linkedin
{
  margin-right: 20px;
}
