/* GENERAL */

*
{
  margin: 0;
  padding: 0;
}

h1
{
  font-family: 'Cinzel', serif;
  font-size: 130px;
  color: white;
  text-align: center;
  text-shadow: -1px -1px 0 black,
              1px -1px 0 black,
              -1px 1px 0 black,
              1px 1px 0 black;
  position: relative;
  top: 20%;
}

h2
{
  font-family: 'Cinzel', serif;
  font-size: 45px;
  text-align: center;
  position: relative;
}

h4
{
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 20px;
}

p
{
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
  position: relative;
}

ul
{
  list-style: none;
}

.wrapper
{
  height: 550px;
  width: 100%;
  padding: 60px 0;
  margin: 0 auto;
}

/* MAIN */

#main
{
  height: 550px;
  width: auto;
  background: url('images/cover.jpg') repeat-x;
  repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#main .wrapper
{
  height: auto;
  width: auto;
}

.title
{
  font-family: 'Cormorant Garamond', serif;
  font-size: 100px;
  text-align: center;
}

/* PROJETS */

#projects
{
  text-align: center;
  overflow: hidden;
}

#projects .wrapper
{
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
}

#projects h2
{
  margin-bottom: 60px;
}

#projects p
{
  text-align: center;
  margin-bottom: 20px;
}

article
{
  width: 500px;
  height: 300px;
  border-radius: 10px;
  margin: 40px 30px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  padding: 0;
  position: relative;
}

.overlay
{
  background: rgba(255,255,255,0.95);
  height: 100%;
  width: 190px;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  text-align: center;
  box-sizing: border-box;
}

#project-1
{
  background: url('images/code.jpg') repeat-x;
  background-position: center;
  background-size: cover;
}

#project-2
{
  background: url('images/code.jpg') repeat-x;
  background-position: center;
  background-size: cover;
}

.button
{
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5vw;
  text-align: center;
  color: #85C17E;
  text-decoration: none;
  padding: 6px 6px;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
}

.button:hover
{
  color: white;
  background-color: #85C17E;
}

/* EXPÉRIENCES PROFESSIONNELLES */

#expro
{
  background-color: #efefef;
  text-align: center;
  overflow: hidden;
}

#expro .wrapper
{
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
}

.expro
{
  overflow: hidden;
  text-align: center;
  width: auto;
}

#expro ul
{
  padding: 0;
  margin-top: 90px;
  position: relative;
  text-align: center;
  display: inline-block;
}

#expro li
{
  display: inline-block;
  height: 100%;
  width: auto;
  margin: 0px 80px 30px 80px;
  background-position: top center;
  background-size: 150px;
}

#expro h2
{
  padding-top: 20px;
  text-align: center;
}

#expro h4
{
  padding-top: 170px;
  text-align: center;
}

#expro-1
{
  background: url('images/html5.svg') no-repeat;
}

#expro-2
{
  background: url('images/html5.svg') no-repeat;
}

#expro-3
{
  background: url('images/html5.svg') no-repeat;
}

/* FORMATION */

#educ
{
  text-align: center;
  overflow: hidden;
}

#educ .wrapper
{
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
}

.educ
{
  overflow: hidden;
  text-align: center;
  width: auto;
}

#educ ul
{
  padding: 0;
  margin-top: 90px;
  position: relative;
  text-align: center;
  display: inline-block;
}

#educ li
{
  display: inline-block;
  height: 100%;
  width: auto;
  margin: 0px 80px 30px 80px;
  background-position: top center;
  background-size: 150px;
}

#educ h2
{
  padding-top: 20px;
  text-align: center;
}

#educ h4
{
  padding-top: 170px;
  text-align: center;
}

#educ-1
{
  background: url('images/graduation.png') no-repeat;
}

#educ-2
{
  background: url('images/graduation.png') no-repeat;
}

#educ-3
{
  background: url('images/graduation.png') no-repeat;
}

/* CONTACT */

#contact
{
  width: 100%;
  height: auto;
  background-color: #efefef;
}

#contact h2
{
  padding-top: 20px;
  text-align: center;
}

#contact ul
{
  margin-top: 30px;
  position: relative;
  text-align: center;
}

#contact ul li
{
  display: inline-block;
}

.fa
{
  width: auto;
  height: auto;
  margin: 20px 0;
}

.fa-linkedin
{
  margin-right: 20px;
}

/* #contact ul:nth-child(4)
{
  margin-top: 0px;
}

.languages
{
  color:black;
  text-shadow: 1px 0 black;
  letter-spacing:1px;
  font-weight:bold;
  font-size: 20px;
} */
